# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.TemporaryItems
.fseventsd
.DocumentRevisions-V100
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.apdisk
Icon?
Network Trash Folder
Temporary Items
